$blue: #45f3ff;
$font-caveat: Caveat;
$font-St-gust: Storm_gust;
$font-sans: Source-Sans-Pro;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #221c1c;
}

#main {
    position: absolute;
    width: 380px;
    height: 420px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid $blue;

    #form {
        position: absolute;
        background: #28292d;
        inset: 2px;
        border-radius: 8px;
        z-index: 10;
        padding: 50px 40px;
        display: flex;
        flex-direction: column;

        h2 {
            color: #45f3ff;
            font-weight: 500;
            text-align: center;
            letter-spacing: 0.1em;
            font-family: $font-St-gust;
        }
    }

    .inputBox {
        position: relative;
        width: 300px;
        margin-top: 35px;
        font-family: $font-sans;
    
        input {
            position: relative;
            width: 100%;
            padding: 20px 10px 10px;
            background: transparent;
            border: none;
            outline: none;
            color: $blue;
            font-size: 1em;
            letter-spacing: 0.05em;
            z-index: 10;
        }
        
        span {
            position: absolute;
            left: 0;
            padding: 20px 10px 10px;
            font: 1em;
            color: #8f8f8f;
            pointer-events: none;
            letter-spacing: 0.05em;
            transition: 0.5s;
        }
        
        input:valid ~ span,
        input:focus ~ span {
            color: $blue;
            transform: translateX(-10px) translateY(-34px);
            font-size: 0.75em;
        }
        
        i {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $blue;
            border-radius: 4px;
            transition: 0.5s;
            pointer-events: none;
            z-index: 9;
        }

        .inputBox input:valid ~ i,
        .inputBox input:focus ~ i {
            height: 44px;
        }
    }
}

#game {
    text-align: center;
    color: $blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        margin-top: 50px;
        font-weight: bold;
        font-size: 25px;
    }

    h2 {
        margin-bottom: 20px;
    } 
}

input[type="button"] {
    border: none;
    outline: none;
    background-color: $blue;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

input[type="button"]:hover {
    color: white;
}

#tytul {
    display: none;
}

#board {
    width: 450px;
    height: 450px;
    /* background-color: gray; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    display: none;
    border: $blue solid 4px;
    font-family: $font-St-gust;
}

.tile {
    width: 147px;
    height: 147px;
    
    font-size: 150px;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    cursor: default;    
}

.winner {
    background-color: $blue;
    color: white;
    overflow: hidden;
}

.winner:hover {
    color: $blue;
    background-color: white;
}

.horizontal-line {
    border-bottom: 1px solid $blue;
}

.vertical-line {
    border-right: 1px solid $blue;
}

#but2, #but3 {
    display: none;
    margin: 20px;
}

#but1 {
    font-family: $font-sans;
    font-size: 17px;
    font-weight: 600;
    
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: Storm_Gust;
    src: url(../fonts/Storm_Gust.ttf);
}

@font-face {
    font-family: Caveat;
    src: url(../fonts/Caveat-Regular.ttf);
}

@font-face {
    font-family: Source-Sans-Pro;
    src: url(../fonts/SourceSansPro-LightItalic.ttf);
}