$blue: #45f3ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #221c1c;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-reflect: below -28px linear-gradient(transparent, #0002);

    h2 {
        position: relative;
        color: $blue;
        letter-spacing: 5px;
        font-size: 4em;
        text-transform: uppercase;
        animation: typing 6s steps(100) infinite;
        overflow: hidden;
    }

    @keyframes typing {
        0%,90%,100% {
            width: 0;
        }
        30%,60% {
            width: 401.88px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: $blue;
        animation: blinkCursor 0.8s steps(3) infinite;
    }

    @keyframes blinkCursor {
        0%,75% {
            opacity: 1;
        }
        76%,100% {
            opacity: 0;
        }
    }
}